# Ignore system / editor / local config
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/.cache

# Ignore Next.js build artifacts
**/.next
**/build
**/dist

# Ignore dependencies (handled in container)
**/node_modules
**/npm-debug.log

# Ignore test files / local artifacts
**/tests
**/*.md
**/*.log
**/*.dbmdl

# Charts / deployment configs not needed in container
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/secrets*.yaml
**/values*.yaml

LICENSE
README.md
